language: python
python:
  - "3.7.1"

# command to install dependencies
install:
  - pip install .
  - pip install -U pytest
  - pip install coverage
  - pip install coveralls
  - pip install pytest-cov

# command to run tests
script:
  py.test test.py -v --cov pyftpdum
after_success:
  coveralls